header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    margin: 1em;
}

li:hover {
    background-color: #b3b3b3;
}

